NEXT_PUBLIC_SUPABASE_URL=your_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_...
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
TRANSBANK_COMMERCE_CODE=your_commerce_code
TRANSBANK_API_KEY=your_api_key
